






/*START OF CGI PAGE STYLES*/


@media only screen and (max-width: 1100px){

  



}


@media only screen and (min-width: 1100px){

  #buzzLightyearSection{
    margin-top: 5px;;
    width: 47%;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid blue;
    float: left;
  }

  #buzzLightyearSection_HeadingDiv{
    border: 2px solid #7d026f;
    width: 90%;
    height: 65px;
    margin: auto;
    margin-bottom: 2px;
    margin-top: 5px;
    padding-bottom: 2px;
    overflow: hidden;
      
    
  }



  #buzzLightyearSection_HeadingDiv_TitleDiv{
    border: 2px solid purple;
    width: 78%;
    height: 65px;
    background: repeating-linear-gradient(45deg, #e8e8e8, #e8e8e8 12px, #c40000 12px, #c40000 24px);
    margin: auto;
   
  }


 #buzzLightyearSection_HeadingDiv_TitleDiv_h1Box{
  border: 2px solid lawngreen;
  background-color: black;;
  width: 60%;;
  height: 50px;
  
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  
 
 }

  #buzzLightyearSection_HeadingDiv_TitleDiv_h1Box h1{
    font-family: 'Courier New', Courier, monospace;
    color: lawngreen;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    text-align: center;
 
    
  }

#buzzLightyearSection_HeadingDiv_LeftLightContainer{
  border: 2px solid orange;
  background-color: #292829;
  float: left;
  width: 10%;;
  height: 98%;
}

#buzzLightyearSection_HeadingDiv_LeftLightContainer_Light{
  width: 30%;;
  height: 80%;
  margin: auto;
  margin-top: 4px;
  background: radial-gradient(white, red);
  border: 2px solid black;
  border-radius: 10px 10px;
  /*box-shadow: 2px 2px 2px red, -2px -2px 2px red;*/
  animation: buzzLightyearRedLightAnim 3s linear none infinite reverse;
}

@keyframes buzzLightyearRedLightAnim {

  0%{
    background: radial-gradient(black, black);
  }

 
  

   49%{
      background: radial-gradient(black, black);
    }

  50%{
    background: radial-gradient(#cc9393 10%, #c40000 80%);
  }

    52%{
      background: radial-gradient(#fcb3b3 10%, #ff0000 80%);
    }

    

    99%{
      background: radial-gradient(#fcb3b3 10%, #ff0000 80%);
    }
  100%{
    background: radial-gradient(#cc9393 10%, #c40000 80%);

  }
  
}




#buzzLightyearSection_HeadingDiv_RightLightContainer{
  border: 2px solid orange;
  float: right;
  background-color: #292829;
  width: 10%;
    
  height: 98%;
}


#buzzLightyearSection_HeadingDiv_RightLightContainer_Light{
    width: 30%;
    height: 80%;
    margin: auto;
    margin-top: 4px;
    background: black;
    border: 2px solid black;
    border-radius: 10px 10px;

      animation: buzzLightyearGreenLightAnim 3s linear none infinite reverse;
   

}


@keyframes buzzLightyearGreenLightAnim {

  0%{
    background: radial-gradient(#8feb97 10%, #00ba0f 80%);
  }

  1%{
      background: radial-gradient(#c4ffd3 10%, #00d111 80%);
  }
  


  40%{
    background: radial-gradient(#c4ffd3 10%, #00d111 80%);
  }

  45%{
    background: radial-gradient(#8feb97 10%, #00ba0f 80%);
  }
  50%{
    background: radial-gradient(black, black);
  }

}





  .buzzLightyearSection_imageDiv{
    border: 3px solid purple;
    width: 98%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
   
  }

  .buzzLightyearSection_imageDiv img{
    
    width: 100%;
   
  }
 



  /*AT ST Styles*/


  #ATSTSection{
    margin-top: 5px;
    width: 50%;
    margin-right: 10px;
    margin-top: 10px;
    border: 2px solid red;
    float: right;
  }

  #ATSTSection_HeadingDiv{
    border: 2px solid #7d026f;
    width: 90%;
    height: 60px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 2px;
    overflow: hidden;
  }

  #ATSTSection_HeadingDiv_TitleDiv{
    border: 2px solid purple;
      width: 78%;
      height: 65px;
      background: black;
      margin: auto;
  }

  #ATSTSection_HeadingDiv_TitleDiv_h1Box{
    border: 2px solid lawngreen;
      background-color: black;
      
      width: 60%;
      
      height: 50px;
    
      margin-top: 2.5px;
      margin-left: auto;
      margin-right: auto;

  }

  #ATSTSection_HeadingDiv_TitleDiv_h1Box h1{

    font-family: 'Courier New', Courier, monospace;
    color: red;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    
    text-align: center; 


  }




    .ATSTSection_imageDiv {
      border: 3px solid purple;
      width: 98%;
      margin: auto;
      margin-top: 8px;
      margin-bottom: 8px;
      overflow: hidden;
  
    }
  
    .ATSTSection_imageDiv img {
  
      width: 100%;
  
    }

}

/*END OF CGI PAGE STYLES*/
