body{

  background-color: black;

  color: white;

  font-family: courier;
}

#ProgramWrapper{
  border: 0.2vw solid orange;
  padding: 0.5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#ViewsPanel{
  border: 3px dotted turquoise;
  display: flex;
  width:1040px;
  height: 400px;
  float: left;
  grid-column: span 2;

}



#TVDIV{
  border: 2px solid purple;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;;
  
}

  #TVDIV h3{
    border: 2px solid lawngreen;
    text-align: center;
    width: 150px;
    margin: auto;
    margin-top: 10px;
  }

  #TVCanvas{

    border: 2px solid red;
    margin: 10px;
  }



#CAMVDIV{
  border: 2px solid red;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#CAMVDIV h3 {
  border: 2px solid lawngreen;
  text-align: center;
  width: 150px;
  margin: auto;
  margin-top: 10px;
}

#CamCanvas{
  border: 2px solid yellow;
  margin: 10px;
}


#SVDIV{
  border: 2px solid darkblue;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#SVDIV h3 {
  border: 2px solid lawngreen;
  text-align: center;
  width: 150px;
  margin: auto;
  margin-top: 10px;
}

#SVCanvas{
  border: 2px solid green;
  margin: 10px;
}



#camInfoStatsSection{
  border: 3px solid darkblue;
  margin: 2px;
  margin-top: -2px;;
  padding: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}



#camStatsPanel {
  width: 200px;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 5px;
  
  
}

.camStatFlexRow{
  color: white;
}

.camStatFlexRow h3{
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;

}

.camStatFlexRow {
  width: 190px;
  height: 25px;;

  padding: 2px;
  margin: auto;
  margin-top: 2px;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
 
  font-size: 0.8em;

}

#camHatsStatsPanel {
  display: flex;
  flex-direction: column;
  border: 2px solid #141ab8;
  width: 200px;
  margin-top: 5px;
  margin-right: 0px;
  
}

.camHatStatsFlexRow {

  width: 190px;
  height: 50px;
    
 
  padding: 1px;
  margin: auto;
  border: 2px solid #141ab8;
  display: flex;
  flex-direction: row;
  
  font-size: 0.8em;
}

.camHatStatsFlexRow h3 {
  margin-left: 5px;
}



#worldHatsStatsPanel {
  display: flex;
  flex-direction: column;
  border: 2px solid brown;
  width: 200px;
  float: right;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0px;
}

.worldHatStatsFlexRow {
  
  width: 190px;
    height: 50px;
    padding: 1px;
    margin: auto;
    border: 2px solid brown;
    display: flex;
    flex-direction: row;
    
    font-size: 0.8em;
    

}


.worldHatStatsFlexRow h3{
  margin-left: 5px;
}








#functionsPanelWrapper{
  display: grid;

  border: 0.5vh solid orange;
  width: 330px;
}





#toggleFunctionsPanel section{
  border: 2px solid orange;
  margin: 5px;
  padding: 5px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



#toggleFunctionsPanel section section{
  border: 2px dashed white;
  
}

#toggleFunctionsPanel section section button{
  font-size: 0.7em;;
  width: 90%;
  padding-left: 2px;
  padding-top: 2px;

  background-color: black;
  color: yellow;
  border: 2px solid white;

  
}

#toggleFunctionsPanel section section div{
  border: 1px solid red;
  width: 10px;
}






#CamFunctionsPanel{
  padding: 1vh;
  margin: 1vh;
  border: 2px solid blue;
  width: 50%;
}

#CamFunctionsPanel h3{
  color: #3d57ff;
}


#RenderFunctionsPanel{
  padding: 2px;
  margin: 2px;
  border: 2px solid green;
  width: 50%;
}

#RenderFunctionsPanel h3{
  color: #04c224;
}




#toggleLensFunctionsPanel{

  border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}


#messagesPanel{

  border: 2px solid orange;
  margin-left: -100px;
  background-color: #000363;
  width: 600px;
  height: 300px;
}











#SceneControlsDiv{
  border: 2px solid red;
}


#SceneControlsDiv section{
  border: 2px solid yellow;
  width: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  padding: 5px;
}

#SceneControlsDiv section button{
  border: 4px ridge grey;
 
  color: yellow;
}


#joystickArea{
  border: 2px solid purple;
  width: 150px;
  height: 180px;
  margin-left: 160px;
  margin-top: -103px;

  background:
  repeating-linear-gradient(45deg, black, 
  black 8px, darkred 5px, darkred 15px);
}


#joystick{
  background-color: black;
  margin: auto;
  margin-top: 5px;
  border: 2px solid red;
  width: 115px;
  height: 115px;

}

#joystick canvas{
  margin: auto;
  border: 2px solid yellow;
  margin-left: 5px;
  margin-top: 5px;
  background:url("joystickImage.png");
}


#joystickActiveTextIndicator{
 
  text-align: center;
  border: 2px solid red;
  width: 110px;
  margin: auto;
  margin-top: 10px;
  background-color: black;
}